<header>
  <h1>Halloween Twitter MWAHAHAHAHAHAHAHHA</h1>
  <% if session[:user_id] %>
    <form action="/logout" method="post">
      <input type="submit" value="logout">
    </form>
  <% end %>
</header>
