
<center><div class="tweets">
  <h2>Hello, <%= @user.username %>!</h2>

  <h3>Post a new tweet</h3>
  <form action="/tweet" method="post">
    <textarea name="content"></textarea><br>
    <input type="submit" value="Tweet">
  </form>

  <h3>Your tweets</h3>
  <% @user.tweets.reverse_each do |tweet| %>
    <center><div class="show_tweet">
      <p><%= tweet.content %></p>
    </div></center>
  <% end %>
</div></center>
